* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    text-align: center;
}   

.header {
    display: flex;
    background: #1F2937;
    padding: 8px;   
    flex-direction: column;
    
}
.header-box {
    
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo-text-left {
    display: flex;
    gap: 10px;
    margin-left: 7.5%;
    color: #f9faf8;
    font-size: 24px; 
    align-items: center; 
}

#header-img {
    max-width: 75px;
    max-height: 50px;
    
}

 .header-links {
   display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    background: #1F2937;
    flex-wrap: wrap;   
    height: 480px;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header-sign-up {
    background: #3882f6;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid royalblue;
    font-weight: bold;
    margin-top: 15px;
}

.header-sign-up:hover {
    opacity: 0.8;
}

#header-image {
    height: 215px;
    width: 500px;
} 

p {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    max-width: 500px;

}

ul {
    list-style-type: none;
    display: flex;
    font-size: 18px; 
    color: #e5e7eb;
    gap: 15px; 
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
   opacity: 0.5;
}
a:visited {
    color: #e5e7eb;
}

a:active {
    color: black;
}

.right-content {
    display: flex;
    
}


.title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.photos {
    height: 200px;
    width: 240px;
    border: solid royalblue 3px;
    border-radius: 30px;
    overflow: hidden;
    
   
 
}

.image-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
    
}

#wall, #mykonos, #sydney, #fuji {
    height: 200px;
    width: 240px;
    
    
}

.text {
    margin-top: 15px;
    max-width: 200px;
    margin-left: 20px;
    
}

/* .quote {
    background: #e5e7eb;

} */

.quote-area {
    display: flex;
    
}
